name: armTemplateDeployment

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  armDeploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy Resource Group rg-GitHubActions
        uses: Azure/arm-deploy@v2
        with:
          scope: subscription
          subscription-id: d64eef0e-d7f1-4c6c-bf8a-9989e7483dd7
          region: Australia East
          template: ./arm-templates/resourcegroup.json
          deploymentName: rg-githubactions
 